<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var webSocket = null;
        var num = 0;

        if (typeof (WebSocket) == "undefined") {
            alert("您的浏览器不支持WebSocket");
        } else {
            //实现化WebSocket对象，指定要连接的服务器地址与端口，建立连接
            webSocket = new WebSocket("ws://localhost:8888/websocket/8888");
            //打开事件
            webSocket.onopen = function () {
                console.log("Socket 已打开");
            };
            //获得服务器端sendMessage的消息事件，打印出服务端发送的消息内容
            webSocket.onmessage = function (msg) {
                alert("【Websocket服务端消息】 " + msg.data);
                num = num + 1;
                document.getElementById("btn").innerHTML = num;
            };
            //关闭事件
            webSocket.onclose = function () {
                alert("Socket已关闭");
            };
            //发生了错误事件
            webSocket.onerror = function () {
                alert("Socket发生了错误");
            }
            //离开页面时，关闭socket
            window.onbeforeunload = function () {
                webSocket.close();
            }
        }

        //发送消息
        function sendMsg() {
            webSocket.send(document.getElementById("msg").value);
            alert("消息发送成功")
        }
    </script>
</head>
<body>
<h3>客户端</h3>
消息数量
<button id="btn">0</button>
<br>
<input type="text" id="msg"/>
<input type="button" value="发送消息" onclick="sendMsg()"/>
</body>
</html>